body{
margin: 0;
padding: 0;
  background-image: url(coins.jpeg);
  backface-visibility: visible;
  height: auto;
  width: auto;
  background-size:cover;
  background-position: center;
  align-items: center;
  background-image: url("bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.input_container{
border: solid #B93939 5px;
width: 10%;
border-radius: 15px;
margin: 10px auto;
background: white;
padding: 38px;
overflow: hidden;
align-self: auto;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6), 0 6px 20px 0 rgba(0,0,0,0.30);
align-items: center;
}
.input_submit{  /* Will be Depricated from @frankmiles 1.0.0*/
border: 5px;
width: 15px;
margin: 10px auto;
  background: white;
  padding: 38px;
}
.login{   /* Will be Depricated from @frankmiles 1.0.0*/
color: 800000;
margin: 10px auto;
  width: 200px;
  padding: 15px;
  font-size: 30px;
  font-variant-ligatures: normal;
  font-family: fantasy;
  font-style: oblique;
  font-stretch: ultra-expanded;
  font-weight: 800;
}

/* Button Designs animation @frankmiles 1.0.0 */


.button {
  background-color: #ff0000; /*red*/
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-align: center;
  width: auto;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 120px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

/* End of 1.0.0 */
.navigation{
 margin: 174px;
 border-bottom: 3px solid #000000;
 width: 880px;
 padding: 0px,20px,0px,20px;
 height: 37px;
 margin-top: 10px;
}
.navigation ul{
padding: 0px;
list-style: none;
}
.navigation ul li{
  float: left;
  font-size: 25px;
  font-weight: bold;
  font-family: cursive;
  margin-right: 40px;
}
.navigation ul li a{
  text-decoration: none;
  color: #000000;
  background: #CD7C4C;
  border: 1px solid #000000;
  border-bottom: none;
  padding: 30px,30px,30px,30px;
  width: 99px;
  display: flow-root;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  text-align: center;
}
.navigation ul li a:hover{
  text-decoration: none;
  color: #008080;
  background: #00FF00;
}
